
<div class = "govuk-summary-list__row">
    <dl class="govuk-summary-list govuk-body govuk-!-font-size-16">
    <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Key name
        </dt>
        <dd class="govuk-summary-list__value">{{ key.name }}</dd>
        <dd class="govuk-summary-list__actions">
          <p class="govuk-body govuk-!-font-size-16">
            <a href="/manage-applications/{{ this_data.appId }}/api-key/update">Update key</a>
          </p>
          <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">
            <a href="/manage-applications/:appId/api-key/delete">Delete key</a>
          </p>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Key type
        </dt>
        <dd class="govuk-summary-list__value">
          {{ 'Rest API key' if key.kind === 'api-client#key' }}
          {{ 'Stream API Key' if key.kind === 'api-client#stream-key' }}
          {{ 'Web API Key' if key.kind === 'api-client#web' }}
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          API key ID
        </dt>
        <dd class="govuk-summary-list__value">
              <span class="api-value">
                {{key.id}}</span>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Copy<span class="govuk-visually-hidden">
                  key</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Restricted IPs
        </dt>
        <dd class="govuk-summary-list__value">
          {{ key.restricted_ips }}
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          JavaScript domains
        </dt>
        <dd class="govuk-summary-list__value">
            {{ key.js_domains }}
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Redirect URIs
        </dt>
        <dd class="govuk-summary-list__value">{{ key.redirect_url }}</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>
</div>