{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

  {# <a href="/manage-applications" class="govuk-back-link">Back to all applications</a> #}

  <h1 class="govuk-heading-xl">New application</h1>

<form action="/manage-applications/add" method="post" enctype="application/json" id="frm-add-application">
  <div class="govuk-form-group{{' govuk-form-group--error' if this_errors.name is not undefined }}">
    <label class="govuk-label" for="applicationName">Application name</label>

    <input class="govuk-input{{' govuk-input--error' if this_errors.name is not undefined }}" id="applicationName" name="applicationName" value="{{ this_data.applicationName }}" type="text">
    {% if this_errors.name is not undefined %}
      <span id="err-id-name" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ this_errors.name.inline }}
      </span>
    {% endif %}
  </div>

  <div class="govuk-form-group{{' govuk-form-group--error' if this_errors.description is not undefined }}">
    <label class="govuk-label" for="description">Description of application</label>

    <textarea class="govuk-textarea{{' govuk-input--error' if this_errors.description is not undefined }}" id="description" name="description" rows="5">{{ this_data.description }}</textarea>
    {% if this_errors.description is not undefined %}
      <span id="err-id-description" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ this_errors.description.inline }}
      </span>
    {% endif %}
  </div>

  <div class="govuk-form-group{{' govuk-form-group--error' if this_errors.environment is not undefined }}">

    <fieldset class="govuk-fieldset">

      <legend class="govuk-fieldset__legend">Choose an environment for your application</legend>
      {% if this_errors.environment is not undefined %}
        <span id="err-id-terms" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{ this_errors.environment.inline }}
        </span>
      {% endif %}
      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="testEnvironment" name="environment" type="radio" value="test"{{ ' checked="checked"' if this_data.environment === 'test' }} />
          <label class="govuk-label govuk-radios__label" for="testEnvironment">Test</label>
        </div>
        {% if FUTURE_DISPLAY_FLAG === 'true' %}
        <div class="govuk-radios__conditional" id="conditional-environment">
{# govuk-radios__conditional--hidden #}
          <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend">In development for upcoming Companies House changes</legend>
              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="inDevelopment" name="inDevelopment" type="checkbox" value="yes"{{ ' checked="checked"' if this_data.environment === 'test' and this_data.inDevelopment === 'yes' }} />
                  <label class="govuk-label govuk-checkboxes__label" for="inDevelopment">Yes</label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        {% endif %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="liveEnvironment" name="environment" type="radio" value="live"{{ ' checked="checked"' if this_data.environment === 'live' }} />
          <label class="govuk-label govuk-radios__label" for="liveEnvironment">Live</label>
        </div>
      </div>
    </fieldset>

  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="terms">Terms &amp; Conditions URL (optional)</label>

    <input class="govuk-input{{ ' govuk-input--error' if this_errors.terms is not undefined }}" id="terms" name="terms" value="{{ this_data.terms }}" type="text">
    {% if this_errors.terms is not undefined %}
      <span id="err-id-terms" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ this_errors.terms.inline }}
      </span>
    {% endif %}
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="privacyPolicy">Privacy Policy URL (optional)</label>

    <input class="govuk-input{{' govuk-input--error' if this_errors.privacyPolicy is not undefined }}" id="privacyPolicy" name="privacyPolicy" value="{{ this_data.privacyPolicy }}" type="text">
    {% if this_errors.privacyPolicy is not undefined %}
      <span id="err-id-privacyPolicy" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ this_errors.privacyPolicy.inline }}
      </span>
    {% endif %}
  </div>

  <input class="govuk-button" id="submitApp" name="submitApp" type="submit" value="Create" />
  <a href="/" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Cancel
  </a>
</form>

{% endblock %}
