{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

<h1 class="govuk-heading-xl">
  New API client key
</h1>
<form action="/manage-applications/{{ this_data.appId }}/api-key/add/{{ this_data.env }}" method="post" enctype="application/json" id="frm-add-new-key">
<div class="govuk-form-group">
  <label class="govuk-label" for="keyName">
    Key name
  </label>

  <input class="govuk-input{{' govuk-input--error' if this_errors.name is not undefined }}" id="keyName" name="keyName" type="text" value="{{ this_data.body.keyName }}">
  {% if this_errors.name is not undefined %}
    <span id="err-id-name" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ this_errors.name.inline }}
    </span>
  {% endif %}
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="keyDescription">
    Key description
  </label>

  <textarea class="govuk-textarea{{' govuk-input--error' if this_errors.description is not undefined }}" id="keyDescription" name="keyDescription" rows="5">{{ this_data.body.keyDescription }}</textarea>
  {% if this_errors.description is not undefined %}
    <span id="err-id-description" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ this_errors.description.inline }}
    </span>
  {% endif %}
</div>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend">
      Select the type of API client key you want to add:
    </legend>
    {% if this_errors.type is not undefined %}
      <span id="err-id-terms" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ this_errors.type.inline }}
      </span>
    {% endif %}
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="rest" name="keyType" type="radio" value="rest" onclick="restClick();"{{ ' checked="checked"' if this_data.body.keyType === 'rest' }}/>
        <label class="govuk-label govuk-radios__label" for="rest">
          REST
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="stream" name="keyType" type="radio" value="stream" onclick="streamClick();"{{ ' checked="checked"' if this_data.body.keyType === 'stream' }}/>
        <label class="govuk-label govuk-radios__label" for="stream">
          Streaming
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="web" name="keyType" type="radio" value="web" onclick="webClick();"{{ ' checked="checked"' if this_data.body.keyType === 'web' }}/>
        <label class="govuk-label govuk-radios__label" for="web">
          Web
        </label>
      </div>
    </div>
  </fieldset>
  <br>
  <br>

<div class="govuk-form-group" id='restricted-ips'>
  <label class="govuk-label" for="more-detail-ip">
    Restricted IPs
  </label>

  <span id="more-detail-hint-ip" class="govuk-hint">
Separate each IP with a comma.
</span>

  <textarea class="govuk-textarea{{ ' govuk-input--error' if this_errors.restrictedIp is not undefined }}" id="more-detail-ip" name="restrictedIps" rows="5" aria-describedby="more-detail-hint-ip">{{ this_data.body.restrictedIps }}</textarea>
  {% if this_errors.restrictedIp is not undefined %}
    <span id="err-id-terms" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ this_errors.restrictedIp.inline }}
    </span>
  {% endif %}
</div>


<div class="govuk-form-group" id='js-domains'>
  <label class="govuk-label" for="more-detail-domain">
    JavaScript domains
  </label>

  <span id="more-detail-hint-domain" class="govuk-hint">
Separate each domain with a comma.
</span>
  <textarea class="govuk-textarea{{ ' govuk-input--error' if this_errors.javaScriptDomain is not undefined }}" id="more-detail-domain" name="javaScriptDomains" rows="5" aria-describedby="more-detail-hint-domain">{{ this_data.body.javaScriptDomains }}</textarea>
  {% if this_errors.javaScriptDomain is not undefined %}
    <span id="err-id-terms" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ this_errors.javaScriptDomain.inline }}
    </span>
  {% endif %}
</div>

<div class="govuk-form-group" id='redirect-uris'>
  <label class="govuk-label" for="more-detail-uri">
    Redirect URIs
  </label>

  <span id="more-detail-hint-uri" class="govuk-hint">
Separate each URI with a comma.
</span>
  <textarea class="govuk-textarea" id="more-detail-uri" name="redirectURIs" rows="5" aria-describedby="more-detail-hint-uri">{{ this_data.body.redirectURIs }}</textarea>
</div>

</div>
<input class="govuk-button" id="submitKey" name="submitKey" type="submit" value="Add key"/>

<a href="/manage-applications" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Cancel
</a>
</form>
{% endblock %}
