{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
  <h1 class="govuk-heading-xl">
    Delete API client key
  </h1>
  <dl class="govuk-summary-list govuk-body govuk-!-font-size-16">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Key name
      </dt>
      <dd class="govuk-summary-list__value"> {{ this_data.keyName }}</dd>
      <dd class="govuk-summary-list__actions"></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Key type
      </dt>
      <dd class="govuk-summary-list__value">
        {{ 'Rest API key' if this_data.keyKind === 'api-client#key' }}
        {{ 'Stream API Key' if this_data.keyKind === 'api-client#stream-key' }}
        {{ 'Web API Key' if this_data.keyKind === 'api-client#web' }}
      </dd>
      <dd class="govuk-summary-list__actions"></dd>
    </div>
  </dl>
  <form action="/manage-applications/{{ this_data.appId }}/{{ this_data.keyType }}/{{ this_data.keyId }}/delete/{{ this_data.env }}" method="post" enctype="application/json" id="frm-delete-key" class="inline-form">
    <input type="hidden" value="{{ this_data.keyName }}" name="keyName">
    <input class="govuk-button govuk-button--warning" id="submitApp" name="submitApp" type="submit" value="Yes, delete key" />
  </form>
  <a href="/manage-applications/{{ this_data.appId }}/view/{{ this_data.env }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Cancel
  </a>
{% endblock %}
