{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
  <a href="/manage-applications" class="govuk-back-link">Back to all applications</a>
  <h1 class="govuk-heading-xl">
    My test application
  </h1>
  <h2 class="govuk-heading-l">
    Update application
  </h2>
<form action="/manage-applications/{{ this_data.appId }}/update" method="post" enctype="application/json" id="frm-update-application">
    <div class="govuk-form-group">
      <label class="govuk-label" for="applicationName">
        Application name
      </label>
      <input class="govuk-input" id="applicationName" name="applicationName" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="privacyPolicy">
        Privacy policy URL (optional)
      </label>
      <input class="govuk-input" id="privacyPolicy" name="privacyPolicy" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="terms">
        Terms and conditions URL (optional)
      </label>
      <input class="govuk-input" id="terms" name="terms" type="text">
    </div>

    {# <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
      Update Application
    </button> #}
    <input class="govuk-button govuk-!-margin-right-1" id="updateApp" name="updateApp" type="submit" value="Update application" />

    <a href="/manage-applications" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Cancel
    </a>
</form>

  <h2 class="govuk-heading-l">
    Delete application
  </h2>
  <p class="govuk-body">After you delete this application all associated information and keys will also be removed.</p>

  <a href="/manage-applications" role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button">
    Delete application
  </a>
{% endblock %}
