{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
  <a href="/manage-applications" class="govuk-back-link">Back to all applications</a>
  <h1 class="govuk-heading-xl">
    My test application
  </h1>
  <h2 class="govuk-heading-l">
    Update application
  </h2>
  <div class="govuk-form-group">
    <label class="govuk-label" for="event-name">
      Application name
    </label>
    <input class="govuk-input" id="event-name" name="event-name" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="event-name">
      Privacy policy URL (optional)
    </label>
    <input class="govuk-input" id="event-name" name="event-name" type="text">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="event-name">
      Terms and conditions URL (optional)
    </label>
    <input class="govuk-input" id="event-name" name="event-name" type="text">
  </div>

  <button class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
    Update application
  </button>

  <a href="/manage-applications" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Cancel
  </a>

  <h2 class="govuk-heading-l">
    Delete application
  </h2>
  <p class="govuk-body">After you delete this application all associated information and keys will also be removed.</p>

  <a href="/manage-applications" role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button">
    Delete application
  </a>
{% endblock %}
