{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

  <div>
    <h2>This is the index page..</h2>
  </div>

{% endblock %}
