{% extends "_layouts/default.njk" %}

{% block main_content %}

{% from "govuk/components/details/macro.njk" import govukDetails %}

  <h1 class="govuk-heading-xl">
    Application overview
  </h1>
  <a href="register" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Add an application
  </a>
  <h2 class="govuk-heading-l">Test applications</h2>
  <p class="govuk-body">In development</p>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Application name</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <a href="manage-applications/1/view">My test application</a>
        </th>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <a href="#">In development service</a>
        </th>
      </tr>
    </tbody>
  </table>
  <h2 class="govuk-heading-l">Live applications</h2>
  <p class="govuk-body">Released and in use publicly</p>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Application name</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">
          <a href="#">Live service</a>
        </th>
      </tr>
    </tbody>
  </table>

{% endblock %}
