{% extends "_layouts/default.njk" %}

{% block main_content %}

  {% from "govuk/components/details/macro.njk" import govukDetails %}
    <a href="/manage-applications" class="govuk-back-link">Back to application</a>
      <h1 class="govuk-heading-xl">
        Update key
      </h1>
      <form action="/manage-applications/{{ this_data.appId }}/{{ this_data.keyType }}/{{ this_data.keyId }}/update/{{ this_data.env }}" method="post">
        <div class="govuk-form-group">
          <label class="govuk-label" for="update-key-name">
            Key name
          </label>
          <input class="govuk-input{{' govuk-input--error' if this_errors.name is not undefined }}" id="update-key-name" name="keyName" type="text" value="{{ this_data.keyName }}">
          {% if this_errors.name is not undefined %}
            <span id="err-id-name" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ this_errors.name.inline }}
            </span>
          {% endif %}
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="update-key-description-detail">
            Key description
          </label>
          <textarea class="govuk-textarea{{' govuk-input--error' if this_errors.description is not undefined }}" id="update-key-description-detail" name="keyDescription" rows="5">{{ this_data.keyDescription }}</textarea>
          {% if this_errors.description is not undefined %}
            <span id="err-id-description" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ this_errors.description.inline }}
            </span>
          {% endif %}
        </div>
        <p class="govuk-body">Rest API key</p>
        <p class="govuk-body" style="color: #016061">ff78ff7b-542c-4a2c-85ba-c8ebe26ad23f</p>
        <div class="govuk-form-group">
          <label class="govuk-label" for="restrictedIP-detail">
            Restricted IPs
          </label>
          <div id="restrictedIP-detail-hint" class="govuk-hint">
            Separate each IP with a comma.
          </div>
          <textarea class="govuk-textarea{{ ' govuk-input--error' if this_errors.restrictedIp is not undefined }}" id="restrictedIP-detail" name="restrictedIps" rows="5" aria-describedby="restrictedIP-detail-hint">{{ this_data.restrictedIps }}</textarea>
          {% if this_errors.restrictedIp is not undefined %}
            <span id="err-id-terms" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ this_errors.restrictedIp.inline }}
            </span>
          {% endif %}
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="javascriptDomain-detail">
            JavaScript domains
          </label>
          <div id="javascriptDomain-detail-hint" class="govuk-hint">
            Separate each domain with a comma.
          </div>
          <textarea class="govuk-textarea{{ ' govuk-input--error' if this_errors.javaScriptDomain is not undefined }}" id="javascriptDomain-detail" name="javaScriptDomains" rows="5" aria-describedby="javascriptDomain-detail-hint">{{ this_data.javaScriptDomains }}</textarea>
          {% if this_errors.javaScriptDomain is not undefined %}
            <span id="err-id-terms" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ this_errors.javaScriptDomain.inline }}
            </span>
          {% endif %}
        </div>
        <input class="govuk-button" id="submitUpdatedKey" name="submitUpdatedKey" type="submit" value="Update key"/>
        <a href="/manage-applications" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Cancel</a>
      </form>

{% endblock %}
