{% extends "_layouts/default.njk" %}

{% block main_content %}

  {% from "govuk/components/details/macro.njk" import govukDetails %}
    <a href="/manage-applications" class="govuk-back-link">Back to application</a>
      <h1 class="govuk-heading-xl">
        Update key
      </h1>

{% endblock %}
