{% extends "_layouts/default.njk" %}

{% block main_content %}

  {% from "govuk/components/details/macro.njk" import govukDetails %}
    <a href="/manage-applications" class="govuk-back-link">Back to all applications</a>

    <h1 class="govuk-heading-xl">
      {{ this_data.app.name }}
    </h1>
    <p class="govuk-body">{{ this_data.app.description }}</p>
    <h2 class="govuk-heading-l">Application details</h2>
    <dl class="govuk-summary-list govuk-body govuk-!-font-size-16">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Application environment
        </dt>
        <dd class="govuk-summary-list__value">
          {{ this_data.env }}
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Privacy policy URL
        </dt>
        <dd class="govuk-summary-list__value">{{ this_data.app.privacy_policy_url }}</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Terms and conditions URL
        </dt>
        <dd class="govuk-summary-list__value">{{ this_data.app.terms_and_conditions_url }}</dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
    </dl>
    <a href="/manage-applications/{{ this_data.app.id }}/update/{{ this_data.env }}" class="govuk-button govuk-button--secondary" role="button" draggable="false">Manage application</a>
    <h2 class="govuk-heading-l">Keys for this application</h2>
      {% for key in this_data.keys.items %}
        {% include "applications/_key_detail.njk" %}
      {% endfor %}
    <div class="govuk-!-margin-top-6">
      <a href="/manage-applications/:appId/api-key/add" class="govuk-button" role="button" draggable="false">Add new key</a>
    </div>
{% endblock %}
