<nav id="app-mobile-nav" class="app-mobile-nav js-app-mobile-nav" role="navigation" aria-hidden="true">
  <ul class="app-mobile-nav__list">
    <li>
      <div class="app-mobile-nav-subnav-toggler">
        <a class="govuk-link govuk-link--no-visited-state app-mobile-nav-subnav-toggler__link js-mobile-nav-subnav-toggler" href="/get-started/" id="js-mobile-nav-subnav-toggler-0" aria-expanded="false" aria-controls="js-mobile-nav__subnav-0">
          Manage applications
        </a>
      </div>
      <ul class="app-mobile-nav__list app-mobile-nav__subnav js-app-mobile-nav-subnav " aria-label="Get started" id="js-mobile-nav__subnav-0" aria-hidden="true">
        <li class="app-mobile-nav__subnav-item">
          <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/get-started/">
            View all applications
          </a>
        </li>
        <li class="app-mobile-nav__subnav-item">
          <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/get-started/">
            Add an application
          </a>
        </li>
      </ul>
    </li>

    <li>
      <div class="app-mobile-nav-subnav-toggler">
        <a class="govuk-link govuk-link--no-visited-state app-mobile-nav-subnav-toggler__link js-mobile-nav-subnav-toggler" href="/styles/" id="js-mobile-nav-subnav-toggler-1" aria-expanded="true" aria-controls="js-mobile-nav__subnav-1">
          General documentation
        </a>
      </div>

      <ul class="app-mobile-nav__list app-mobile-nav__subnav js-app-mobile-nav-subnav" aria-label="Styles" id="js-mobile-nav__subnav-1" aria-hidden="false">
        <li class="app-mobile-nav__subnav-item app-mobile-nav__subnav-item--current">
          <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/styles/">
            Getting started
          </a>
        </li>

        <li>

          <ul class="app-mobile-nav__list">

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/styles/colour/">
                Create an account
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/styles/images/">
                How to create an API key
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/styles/layout/">
                Authentication
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <div class="app-mobile-nav-subnav-toggler">
        <a class="govuk-link govuk-link--no-visited-state app-mobile-nav-subnav-toggler__link js-mobile-nav-subnav-toggler" href="/components/" id="js-mobile-nav-subnav-toggler-2" aria-expanded="false" aria-controls="js-mobile-nav__subnav-2">
          API documentation
        </a>
      </div>

      <ul class="app-mobile-nav__list app-mobile-nav__subnav js-app-mobile-nav-subnav " aria-label="Components" id="js-mobile-nav__subnav-2" aria-hidden="true">
        <li class="app-mobile-nav__subnav-item">
          <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/">
            Components overview
          </a>
        </li>

        <li>

          <ul class="app-mobile-nav__list">

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/accordion/">
                Accordion
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/back-link/">
                Back link
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/breadcrumbs/">
                Breadcrumbs
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/button/">
                Button
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/character-count/">
                Character count
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/checkboxes/">
                Checkboxes
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/date-input/">
                Date input
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/details/">
                Details
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/error-message/">
                Error message
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/error-summary/">
                Error summary
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/fieldset/">
                Fieldset
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/file-upload/">
                File upload
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/footer/">
                Footer
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/header/">
                Header
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/inset-text/">
                Inset text
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/panel/">
                Panel
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/phase-banner/">
                Phase banner
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/radios/">
                Radios
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/select/">
                Select
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/skip-link/">
                Skip link
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/summary-list/">
                Summary list
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/table/">
                Table
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/tabs/">
                Tabs
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/tag/">
                Tag
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/text-input/">
                Text input
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/textarea/">
                Textarea
              </a>
            </li>

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/components/warning-text/">
                Warning text
              </a>
            </li>

          </ul>
        </li>

      </ul>

    </li>

    <li>
      <div class="app-mobile-nav-subnav-toggler">
        <a class="govuk-link govuk-link--no-visited-state app-mobile-nav-subnav-toggler__link js-mobile-nav-subnav-toggler" href="/patterns/" id="js-mobile-nav-subnav-toggler-3" aria-expanded="false" aria-controls="js-mobile-nav__subnav-3">
          Manage account
        </a>
      </div>
      <ul class="app-mobile-nav__list app-mobile-nav__subnav js-app-mobile-nav-subnav " aria-label="Patterns" id="js-mobile-nav__subnav-3" aria-hidden="true">
        <li class="app-mobile-nav__subnav-item">
          <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/patterns/">
            Manage profile
          </a>
        </li>
        <li class="app-mobile-nav__subnav-item">
          <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/patterns/">
            Change password
          </a>
        </li>
      </ul>
    </li>

    <li>
      <div class="app-mobile-nav-subnav-toggler">
        <a class="govuk-link govuk-link--no-visited-state app-mobile-nav-subnav-toggler__link js-mobile-nav-subnav-toggler" href="/community/" id="js-mobile-nav-subnav-toggler-4" aria-expanded="false" aria-controls="js-mobile-nav__subnav-4">
          Help
        </a>
      </div>

      <ul class="app-mobile-nav__list app-mobile-nav__subnav js-app-mobile-nav-subnav " aria-label="Community" id="js-mobile-nav__subnav-4" aria-hidden="true">

        <li>

          <ul class="app-mobile-nav__list">

            <li class="app-mobile-nav__subnav-item">
              <a class="govuk-link govuk-link--no-visited-state app-mobile-nav__link" href="/community/backlog/">
                Developer Hub Forum
              </a>
            </li>
          </ul>
        </li>

      </ul>

    </li>

  </ul>
</nav>