<header class="govuk-header" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    {% include "_partials/banner.njk" %}
  </div>
</header>
<div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>

    <div class="js-toggle-nav" id="global-nav">
      <div id="user_bar">
        <nav class="content">
          <ul id="navigation">
            <li id="user-bar-email">
              {{ user_profile.email }}
            </li>
            <li id="user-bar-sign-out">
              <a id="user-signout" href="{{ devHubUrl }}/signout">Sign out</a>
            </li>
            <li id="user-bar-forum">
              <a href="https://forum.aws.chdev.org">Developer hub forum</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</div>
