      <nav class="app-subnav app-hide-mobile">

          <h4 class="app-subnav__theme">Manage applications</h4>
          <ul class="app-subnav__section">
            <li class="app-subnav__section-item{{ ' app-subnav__section-item--current' if active_page === 'application-overview' or active_page === 'view-application' }}">
              <a class="app-subnav__link govuk-link " href="/manage-applications">
                View all applications
              </a>
            </li>
            <li class="app-subnav__section-item{{ ' app-subnav__section-item--current' if active_page === 'add-application' }}">
              <a class="app-subnav__link govuk-link " href="/manage-applications/add">
                Create an application
              </a>
            </li>
          </ul>

        <h4 class="app-subnav__theme">General documentation</h4>
        <ul class="app-subnav__section">
          <li class="app-subnav__section-item ">
            <a class="app-subnav__link govuk-link" href="{{ devHubUrl }}/get-started">Get started</a>
          </li>
          <li class="app-subnav__section-item ">
            <a class="app-subnav__link govuk-link" href="{{ devHubUrl }}/overview">Companies House REST API overview</a>
          </li>
          <li class="app-subnav__section-item ">
            <a class="app-subnav__link govuk-link" href="{{ devHubUrl }}/how-to-create-an-application">How to create an application</a>
          </li>
          <li class="app-subnav__section-item ">
            <a class="app-subnav__link govuk-link" href="{{ devHubUrl }}/authentication">API authentication</a>
          </li>
          <li class="app-subnav__section-item ">
            <a class="app-subnav__link govuk-link" href="{{ devHubUrl }}/developer-guidelines">Developer guidelines</a>
          </li>
        </ul>

        <h4 class="app-subnav__theme">API specifications</h4>
        <ul class="app-subnav__section">
          <li class="app-subnav__section-item ">
            <a class="app-subnav__link govuk-link" href="{{ devSpecsUrl }}">API specifications list</a>
          </li>
        </ul>

      </nav>
