{% extends "layout.html" %}
{% block pageTitle %}
  Delete key
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "includes/sidebar.html" %}
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Delete API client key
      </h1>
      <dl class="govuk-summary-list govuk-body govuk-!-font-size-16">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Key name
          </dt>
          <dd class="govuk-summary-list__value"></dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Key type
          </dt>
          <dd class="govuk-summary-list__value">
            {{ case.apis.type }}
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        {% if case.status === 'test' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              API key ID
            </dt>
            <dd class="govuk-summary-list__value">
              <span class='api-value'>
                {{ case.apis.test }}</span>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Copy<span class="govuk-visually-hidden">
                  key</span>
              </a>
            </dd>
          </div>
        {% endif %}
        {% if case.status === 'live' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Live API key
            </dt>
            <dd class="govuk-summary-list__value">
              <span class='api-value'>{{ case.apis.live }}</span>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Copy<span class="govuk-visually-hidden">
                  key</span>
              </a>
            </dd>
          </div>
        {% endif %}
        {% if case.status === 'future' %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Future API key
            </dt>
            <dd class="govuk-summary-list__value">
              <span class='api-value'>{{ case.apis.future }}</span>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Copy<span class="govuk-visually-hidden">
                  key</span>
              </a>
            </dd>
          </div>
        {% endif %}
      </dl>
      {{ govukButton({
        text: "Delete key",
        classes: "govuk-button--warning"
      }) }}
    </div>
  </div>
{% endblock %}