<!DOCTYPE html>
  <!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
  <!--[(if gt IE 8) | (!IE)]><!--><html lang="en" class="govuk-template"><!--<![endif]-->
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link href="{{cdnUrlCss}}/application.css" media="all" rel="stylesheet" type="text/css" />
    <!--[if lte IE 8]><link href="{{cdnUrlCss}}/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!--><link href="{{cdnUrlCss}}/application.css" media="all" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <link href="{{cdnUrlCss}}/app.css" media="all" rel="stylesheet" type="text/css" />
    {# <link href="{{cdnHost}}/images/favicon.ico" rel="icon" type="image/x-icon" /> #}
    {% include "_partials/__styles.njk" %}
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    {# <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" /> #}

    <script src="{{cdnUrlJs}}/../../vendor/jquery-3.3.1.min.js"></script>

    {# Set the page object to hold values exported from server to JS files #}
    <script>
      var page = page || {};
    </script>
    {# <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script> #}
  </head>

  <body class="govuk-template__body">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a href="#main-page-content" class="govuk-skip-link">Skip to main content</a>
    {% include "_partials/__header.njk" %}
    <div class="govuk-width-container ">

      <main class="govuk-main-wrapper " id="main-content">

        <div class="govuk-grid-row">
          {% include "_partials/error_summary.njk" %}
          <div class="govuk-grid-column-one-third">
            {% include "_partials/nav_bar.njk" %}
          </div>
          <div class="govuk-grid-column-two-thirds" id="main-page-content">
            {% block main_content %}
            {% endblock %}
          </div>
        </div>

      </main>
    </div>

    {% include "_partials/__footer.njk" %}

  </body>
</html>
